:root {
  --context-pad-background-color: hsla(0, 0%, 22%, 1);
  --context-pad-color: hsla(0, 0%, 100%, 1);
  --context-pad-divider-color: hsla(0, 0%, 9%, 1);
  --context-pad-hover-color: hsla(0, 0%, 55%, 0.16);
}

.djs-context-pad {
  display: flex;
  background: var(--context-pad-background-color);
  color: var(--context-pad-color);
  border-radius: 4px;
  transform: translate(-50%, -100%);
}

.djs-context-pad .group {
  display: flex;
  padding: 0px 4px;
}

.djs-context-pad .entry {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  cursor: default;
  pointer-events: all;
  vertical-align: middle;
  margin: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

.djs-context-pad .group {
  border-right: none;
}

.djs-context-pad .entry:hover {
  background: var(--context-pad-hover-color);
}

.djs-context-pad .entry:active {
  background: var(--context-pad-hover-color);
}

.djs-context-pad.open {
  display: flex;
}

.djs-context-pad .divider {
  position: relative;
  top: 10px;
  width: 1px;
  height: 20px;
  background: var(--context-pad-divider-color);
}


/* Append Nodes */

.djs-append-node {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.djs-append-node-circle {
    width: 6px;
    height: 6px;
    background: var(--element-selected-outline-stroke-color);
    border: 2px solid var(--element-selected-outline-stroke-color);
    border-radius: 50px;
    opacity: 0.6;
    margin: auto;
    transition: 0.1s;
}

.djs-append-node:hover .djs-append-node-circle {
    width: 24px;
    height: 24px;
    opacity: 1;
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArElEQVR4nO3YUQoCMQyE4VxST9bxiNtjRMQHQSyLpZDp8n+Q9w4TFrIRAIAZLe+h7KHMr+nxyFtsRz/DfEJtR8Mw79mOCGRONGRONGRONGRONGRONGRObg214T1TPX3unvIMk/P3VP2jF69s9YMJdOaCDfXyR2swLY//A70+jY6hWh41v8GWr0w1ArkTK2dONGRONGRONGRONGRO12uor71nqo3uqbJ7BgDiAp6srMQ69O0azwAAAABJRU5ErkJggg==);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.djs-append-node-circle:hover,
.djs-append-node:hover .djs-append-node-circle:hover {
    width: 24px;
    height: 24px;
    background-color: var(--element-selected-outline-stroke-color);
    border-color: var(--element-selected-outline-stroke-color);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAlUlEQVR4nO3YPQqEQBAF4b6ke//IOUYtJpusPzDJvJb6QiMfBUJbJUmaAHyAwb/j2VbdcD7mN6q64UF1g4PCYaFwWCgcFgqHhcJhoXCkFeL6nlltTN1ToWPm7ynClYPClYWI/ijsM4W20FH7kt9gT29V3eCgcFgoHBYKh4XCYaFwWCgcLyw07k6A6obre2rNPSNJ9QZfu2Xwp8bAILUAAAAASUVORK5CYII=);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.djs-append-node.hide {
    display: none !important;
}

/* Hack to hide old pad */

/*
.djs-context-pad:not(.next) {
    display: none !important;
}
*/